altgraph==0.17.4 ; python_version >= "3.9" and python_full_version <= "3.12.7"
appdirs==1.4.4 ; python_version >= "3.9" and python_full_version <= "3.12.7"
attrs==24.2.0 ; python_version >= "3.9" and python_full_version <= "3.12.7"
autopep8==2.3.1 ; python_version >= "3.9" and python_full_version <= "3.12.7"
certifi==2024.8.30 ; python_version >= "3.9" and python_full_version <= "3.12.7"
cffi==1.17.1 ; os_name == "nt" and implementation_name != "pypy" and python_version >= "3.9" and python_full_version <= "3.12.7"
charset-normalizer==3.4.0 ; python_version >= "3.9" and python_full_version <= "3.12.7"
cython==3.0.11 ; python_version >= "3.9" and python_full_version <= "3.12.7" and sys_platform == "darwin"
et-xmlfile==1.1.0 ; python_version >= "3.9" and python_full_version <= "3.12.7"
exceptiongroup==1.2.2 ; python_version >= "3.9" and python_version < "3.11"
h11==0.14.0 ; python_version >= "3.9" and python_full_version <= "3.12.7"
idna==3.10 ; python_version >= "3.9" and python_full_version <= "3.12.7"
importlib-metadata==8.5.0 ; python_version >= "3.9" and python_version < "3.10"
macholib==1.16.3 ; python_version >= "3.9" and python_full_version <= "3.12.7" and sys_platform == "darwin"
mako==1.3.5 ; python_version >= "3.9" and python_full_version <= "3.12.7"
markupsafe==2.1.5 ; python_version >= "3.9" and python_full_version <= "3.12.7"
numpy==2.0.2 ; python_version >= "3.9" and python_full_version <= "3.12.7"
openpyxl==3.1.5 ; python_version >= "3.9" and python_full_version <= "3.12.7"
outcome==1.3.0.post0 ; python_version >= "3.9" and python_full_version <= "3.12.7"
packaging==24.1 ; python_version >= "3.9" and python_full_version <= "3.12.7"
pandas==2.2.3 ; python_version >= "3.9" and python_full_version <= "3.12.7"
pefile==2024.8.26 ; python_version >= "3.9" and python_full_version <= "3.12.7" and sys_platform == "win32"
pillow==11.0.0 ; python_version >= "3.9" and python_full_version <= "3.12.7"
pyarrow==17.0.0 ; python_version >= "3.9" and python_full_version <= "3.12.7"
pycodestyle==2.12.1 ; python_version >= "3.9" and python_full_version <= "3.12.7"
pycparser==2.22 ; os_name == "nt" and implementation_name != "pypy" and python_version >= "3.9" and python_full_version <= "3.12.7"
pygubu-designer==0.39.3 ; python_version >= "3.9" and python_full_version <= "3.12.7"
pygubu==0.35.5 ; python_version >= "3.9" and python_full_version <= "3.12.7"
pyinstaller-hooks-contrib==2024.8 ; python_version >= "3.9" and python_full_version <= "3.12.7"
pyinstaller==6.10.0 ; python_version >= "3.9" and python_full_version <= "3.12.7"
pyobjc-core==10.3.1 ; python_version >= "3.9" and python_full_version <= "3.12.7" and sys_platform == "darwin"
pyobjc-framework-cocoa==10.3.1 ; python_version >= "3.9" and python_full_version <= "3.12.7" and sys_platform == "darwin"
pysocks==1.7.1 ; python_version >= "3.9" and python_full_version <= "3.12.7"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_full_version <= "3.12.7"
python-dotenv==1.0.1 ; python_version >= "3.9" and python_full_version <= "3.12.7"
pytz==2024.2 ; python_version >= "3.9" and python_full_version <= "3.12.7"
pywin32-ctypes==0.2.3 ; python_version >= "3.9" and python_full_version <= "3.12.7" and sys_platform == "win32"
requests==2.32.3 ; python_version >= "3.9" and python_full_version <= "3.12.7"
screeninfo==0.8.1 ; python_version >= "3.9" and python_full_version <= "3.12.7"
selenium==4.25.0 ; python_version >= "3.9" and python_full_version <= "3.12.7"
setuptools==75.1.0 ; python_version >= "3.9" and python_full_version <= "3.12.7"
six==1.16.0 ; python_version >= "3.9" and python_full_version <= "3.12.7"
sniffio==1.3.1 ; python_version >= "3.9" and python_full_version <= "3.12.7"
sortedcontainers==2.4.0 ; python_version >= "3.9" and python_full_version <= "3.12.7"
tomli==2.0.2 ; python_version >= "3.9" and python_version < "3.11"
trio-websocket==0.11.1 ; python_version >= "3.9" and python_full_version <= "3.12.7"
trio==0.26.2 ; python_version >= "3.9" and python_full_version <= "3.12.7"
ttkthemes==3.2.2 ; python_version >= "3.9" and python_full_version <= "3.12.7"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_full_version <= "3.12.7"
tzdata==2024.2 ; python_version >= "3.9" and python_full_version <= "3.12.7"
unidecode==1.3.8 ; python_version >= "3.9" and python_full_version <= "3.12.7"
urllib3==2.2.3 ; python_version >= "3.9" and python_full_version <= "3.12.7"
urllib3[socks]==2.2.3 ; python_version >= "3.9" and python_full_version <= "3.12.7"
webdriver-manager==4.0.2 ; python_version >= "3.9" and python_full_version <= "3.12.7"
websocket-client==1.8.0 ; python_version >= "3.9" and python_full_version <= "3.12.7"
wsproto==1.2.0 ; python_version >= "3.9" and python_full_version <= "3.12.7"
zipp==3.20.2 ; python_version >= "3.9" and python_version < "3.10"
